*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.cart {
    width: 40px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p {
    font-size: 20px;
    color: #6a7199;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons {
    margin-top: 40px;
    display: flex;
}

.arrow-icons img {
    width: 40px;
    margin-right: 25px;
}

.feature-img {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
   100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}
